/* NB: dont change this css file */	
	
	
	/* Display text lables */
	.common_lable{
		color: navy !important;
		font-size: 0.75rem !important;
	}
	
	.common_lable.ui-selectonemenu .ui-selectonemenu-label{
	    color: navy !important;
	    font-size: 0.75rem !important;
	}
	
	/* Display text lables bold */
	.common_lable_bold{
		color: navy !important;
		font-size: 0.75rem !important;
		font-weight: bold !important;
	}
	
	.common_lable_bold.ui-selectonemenu .ui-selectonemenu-label{
	    color: navy !important;
		font-size: 0.75rem !important;
		font-weight: bold !important;
	}
	
	/* Display text lables italic */
	.common_lable_italic{
		color: navy !important;
		font-size: 0.75rem !important;
		font-style: italic !important;
	}
	
	.common_lable_italic.ui-selectonemenu .ui-selectonemenu-label{
	    color: navy !important;
		font-size: 0.75rem !important;
		font-style: italic !important;
		font-weight: bold !important;
	}
	
	/* Display text lables h1*/
	.common_lable_h1{
		color: navy !important;
		font-size: 1.25rem !important;
		font-weight: bold !important;
	}
	
	/* Display text lables h2*/
	.common_lable_h2{
		color: navy !important;
		font-size: 1rem !important;
		font-weight: bold !important;
	}
	
	/* Display text lables h3*/
	.common_lable_h3{
		color: navy !important;
		font-size: 0.875rem !important;
		font-weight: bold !important;
	}

	
	.common_text{
		color: navy !important;
		font-size: 0.75rem !important;
	}
	
	.common_text_bold{
		color: navy !important;
		font-size: 0.75rem !important;
		font-weight: bold !important;
	}

	.common_number{
		color: navy !important;
		font-size: 0.75rem !important;
		text-align:right !important;
	}
	
	.common_number_bold{
		color: navy !important;
		font-weight: bold !important;
		font-size: 0.75rem !important;
		text-align:right !important;
	}
	
	.msg-box-icon-col{
		vertical-align: text-top !important;
	}
	.msg-box-msg-col{
		vertical-align: bottom !important;
	}
	
	.common_form_header{
		background-color: #404d6f !important;
		font-weight: bold !important;
		text-align: center;
		margin-bottom: 2px;
		margin-top: 10px;
		height: 30px;
		/*color: black !important;
		font-size: 1.6rem !important;
		font-weight: bold !important;
		border-top-right-radius: 10px;*/
	}
	
		.common_form_header2{
		background-color: green !important;
		font-weight: bold !important;
		text-align: center;
		margin-bottom: 2px;
		margin-top: 10px;
		height: 30px;
		/*color: black !important;
		font-size: 1.6rem !important;
		font-weight: bold !important;
		border-top-right-radius: 10px;*/
	}
	
	  .dashboardNRResendDocRecord{
    	background-color:#16e5d7 !important;
    }
    
 	.gridspadding{
 		padding:10px !important;
 	}
 	.rowpadding{
 		padding-top:4px !important;
 		padding-bottom:4px !important;
 	}
 	.center {
 		text-align:center !important;
 	}
 	.right .ui-inputfield{
		text-align: right; !important;
	}
 	.bold {
 		font-weight: bold !important;
 	}
 	/* Common Title styles */
 	.title1-light{
		font-size:16px !important;
		font-family:Helvetica, sans-serif, Arial !important;
		font-weight: bold !important;
		opacity: 0.6 !important;
	}
	.title1{
		font-size:19px !important;
		font-family:Helvetica, sans-serif, Arial !important;
		font-weight: bold !important;
	}
	.title2-light{
		font-size:15px !important;
		font-family:Helvetica, sans-serif, Arial !important;
		font-weight: bold !important;
		opacity: 0.6 !important;
	}
	.title2{
		font-size:15px !important;
		font-family:Helvetica, sans-serif, Arial !important;
		font-weight: bold !important;
	}
	.title3{
		font-size: 15px !important;
	    color: #c05f24 !important; /*blue #1164de #a9460c 9c2424 green #00b91f*/
	    font-weight: 700 !important;
	}
	.title4{
		font-size: 14px !important;
	    color: #000000 !important;
	}
	.title5{
		font-size:19px !important;
		font-family:Helvetica, sans-serif, Arial !important;
		font-weight: bold !important;
	    color: 	#0000FF !important;
	}
	/* grid styles*/
	.highlight-row {
	    background-color: #e8b17a !important;
	    background-image: none !important;
	    color: #000000 !important;
	}
	
	.round-iconbtn .fa-stack-2x{
		text-shadow: 2px 4px 5px #a09fa9 !important;
	}
	.round-iconbtn .fa-stack:hover {
	    opacity:0.7 !important;
	}